/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}


/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



.year-card-container {
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 20px 70px 20px 70px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
}

.year-card {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.year-card:hover {
    transform: scale(1.05);
}

.pdf-card {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.51);
    transition: transform 0.2s;
    margin-bottom: 20px;
    width: 260px;
}

.pdf-card:hover {
    transform: scale(1.05);
}

.pdf-card img {
    width: 100%; /* Maintain proper aspect ratio */
    height: auto; /* Maintain proper aspect ratio */
    border-radius: 20px;
    object-fit: center; /* Maintain aspect ratio and cover the entire space */
}

.pdf-card h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px 0;
}

.pdf-card p {
    font-size: 1.2em;
    margin: 0;
}

/* Adjust the individual year card width as needed */
.year-card {
    width: calc(30% - 20px); /* Adjust the width percentage as needed */
    max-width: 500px; /* Set a maximum width to control card size */
    margin: 20px 0;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    
}

.year-card:hover {
    transform: scale(1.05);
}

/* Initially hide the year card content */
.year-card h2 {
    display: block;
}

/* Display the year card content when it's expanded */
.year-card.expanded h2 {
    display: block;
}