/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}


/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styling for the deans section */
#dean {
    width: 100%;
    background-image: url("./Images/Banners/kems_banner.png");
    height: 84vh;
    display: flex;
    padding: 30px;
    padding-right: 250px;
    padding-left: 250px;
    justify-content: center;
    align-items: center;
}

#dean .dean-profile {
    width: 520px;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid #f1f1f1;
}

#dean .dean-profile .dean-photo {
    width: 100%;
    height: 70%;
    background-color: #ffffff;
    overflow: hidden;
}

#dean .dean-profile .dean-photo img {
    width: 100%;
    height: 600px;
}

#dean .dean-profile .dean-contact {
    width: 100%;
    height: 30%;
    background-color: #000000;
}

#dean .dean-profile .name {
    background-color: #ffffff;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dean .dean-profile .name h2 {
    color: #2d3e50;
    font-size: 1.3em;
    font-weight: 600;
}

#dean .dean-profile .name h3 {
    font-size: 0.95em;
    font-weight: 600;
}

#dean .dean-profile .name h4 {
    font-size: 0.95em;
    font-weight: 600;
}

#dean .dean-profile .contact {
    background: linear-gradient(90deg, rgba(223, 47, 100,1) 0%, rgb(112, 5, 37) 100%);
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dean .dean-profile .contact .phone {
    display: flex;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

#dean .dean-profile .contact .phone:hover {
    color: black;
}

#dean .dean-profile .contact .phone p {
    margin-left: 20px;
}

#dean .dean-profile .contact .mail {
    display: flex;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

#dean .dean-profile .contact .mail:hover {
    color: black;
}

#dean .dean-profile .contact .mail p {
    margin-left: 20px;
}

#dean .dean-profile .contact .website {
    display: flex;
    margin-top: 10px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

#dean .dean-profile .contact .website:hover {
    color: black;
}

#dean .dean-profile .contact .website p {
    margin-left: 20px;
}

#dean .dean-message {
    width: 1280px;
    height: 100%;
    margin-left: 150px;
    margin-top: 50px;
}

#dean .dean-message h2 {
    color: #000000;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 15px;
}

#dean .dean-message p {
    color: #000000;
    font-size: 1.15rem;
    font-weight: 400;
}


/* Aim */
.overview {
    background-color: #f8f8f8;
    position: relative;
    height: 55vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview .content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.overview .content .vision,
.overview .content .mission,
.overview .content .objectives {
    background-color: #ffffff;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    cursor: pointer;
}

.overview .content .vision h2,
.overview .content .mission h2,
.overview .content .objectives h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 2.2em;
}

.overview .content .vision img,
.overview .content .mission img,
.overview .content .objectives img {
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    transition: 0.3s ease;
}

.overview .content .vision img:hover,
.overview .content .mission img:hover,
.overview .content .objectives img:hover {
    transform: scale(1.3);
}

/* Optional: Adjust spacing between the boxes */
.overview .content .vision {
    margin-right: 50px;
}

.overview .content .mission {
    margin-left: 50px;
}

.overview .content .objectives {
    width: 500px;
    height: 400px;
}

.overview .content .objectives ol {
    text-align: left;
}

.overview .content .objectives ol li {
    margin-bottom: 5px;
    list-style-type: lower-roman;
}


/* Team */
.team {
    width: 100%;
    padding: 20px;
}

.team .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.team h2 {
    text-decoration: none;
    color: #000000;
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 10px;
}

.team .staff-cards {
    display: flex;
}

.team .staff-card {
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, color 0.3s; /* Add transition effect */
}

.team .staff-card img {
    max-width: 100%;
}

.team .staff-name {
    font-weight: bold;
    transition: 0.2s ease;
}

.team .staff-occupation {
    color: #888;
}

/* Add hover effects */
.team .staff-card:hover {
    box-shadow: 0 4px 16px rgba(223, 47, 100, 0.4); /* Apply the glow effect */
}

.team .staff-card:hover .staff-name {
    color: #df2f64; /* Change font color on hover */
}



/* Courses */
#courses {
    background-color: #f8f8f8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#courses .tag-text h2{
    text-decoration: none;
    color: #000000;
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 10px;
}

#courses .boxes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
    margin-bottom: 50px;
}
  
#courses .box {
    width: 300px;
    height: 200px;
    background: linear-gradient(90deg, rgba(223, 47, 100,1) 0%, rgb(112, 5, 37) 100%);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6em;
    font-family: bolder;
    color: #000000;
}

#courses .box {
    display: flex;
    flex-direction: column;
}

#courses .box img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
  
#courses table {
    width: 100%;
    border-collapse: collapse;
}
  
#courses th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    transition: 0.3s ease;
}

#courses td {
    font-weight: normal;
}
  
#courses th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}

/* Apply the color to the course names in the table */
#courses td:first-child {
    color: #9DC6D8;
}
  
#courses tbody {
    display: none;
}

#courses thead {
    display: none; /* Hide the table headings by default */
  }

#courses.show-table thead {
    display: table-header-group; /* Display table headings when the table is visible */
}

#courses tbody tr:hover td {
    color: #9DC6D8;
    text-shadow: 1px 1px #f8f8f8;
    cursor: pointer;
}


/* Footer */
#footer {
    width: 100%;
    font-family: "Open Sans",sans-serif;
    height: 30vh;
    background-color: #00954d;
    overflow: hidden;
}

#footer .content {
    background-color: #e0e0e0;
    position: relative;
    border-radius: 0 0 150px 0;
    height: 26vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#footer .content .blue-back {
    background-color: #117333;
    height: 15vh;
    width: 60%;
    border-radius: 0 0 200px 0;
    margin-top: -35px;
}

#footer .content .info {
    background: rgb(17, 115, 51);
    background: linear-gradient(90deg, rgba(17, 115, 51, 1) 0%, rgba(33, 191, 98, 1) 100%);
    position: absolute;
    height: 25vh;
    width: 50%;
    border-radius: 0 0 300px 0;
    margin-top: -50px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
    padding: 50px;
}

#footer .content .info img {
    margin-top: 40px;
    margin-left: 370px;
}

#footer .content .info .address {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 175px;
    margin-top: -130px;
    margin-left: 20px;
}

#footer .content .info .address span {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

#footer .content .info .address span p {
    margin-top: 5px;
    margin-left: 15px;
    color: #f1f1f1;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

#footer .content .info .address span p:hover {
    color: black;
}

#footer .content .info .address i {
    color: #f1f1f1;
    padding-top: 11px;
    cursor: pointer;
}

#footer .content .university {
    height: 250px;
    width: 350px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .university h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .university a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .university a:hover {
    color: #00954d
}

#footer .content .links {
    height: 250px;
    width: 200px;
    margin-left: -50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .links h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .links a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .links a:hover {
    color: #00954d
}

#footer .content .top-button {
    background-color: #00954d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 1%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

#footer .content .top-button i {
    color: #e0e0e0;
}

#footer .copyright {
    position: relative;
    display: flex;
    height: 4vh;
    width: 100%;
    align-items: center;
    bottom: 0;
}

#footer .copyright .twitter-circle{
    margin-left: 100px !important;
}

#footer .copyright .twitter-circle,
#footer .copyright .facebook-circle,
#footer .copyright .linkedin-circle,
#footer .copyright .instagram-circle {
    margin: 0 10px; /* Adjust the spacing between circles */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 999;
    text-decoration: none;
}

#footer i {
    color: #00954d; /* Adjust the icon color */
    font-size: 1em; /* Adjust the icon size */
}

#footer .copyright p {
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    margin-left: 20px;
}

#footer .copyright .right-links {
    margin-left: 25%;
}

#footer .copyright .right-links a {
    margin-left: 40px;
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}