/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}


/* Styling for the banner */
.banner {
    position: relative;
    width: 100%;
    height: 70vh;
  }

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner img.active {
    opacity: 1;
}


/* Styling for the features */
.feature-container {
    display: flex;
    background-color: #f8f8f8;
    padding: 50px 70px 50px 70px;
    justify-content: center;
    align-items: flex-start;
    height: 170px;
}
  
.feature {
    color: #4a4a4a;
    font-weight: 400;
    max-width: 15rem;
    flex: 1;
    position: relative;
    margin-left: 120px;
}

.feature:first-child {
    margin-left: -10px;
}
  
.feature a {
    color: #117333;
    text-decoration: none;
    font-family: "Noto Serif", Georgia, Times New Roman, serif;
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: color 0.15s ease;
    position: relative;
}
  
.feature a::before {
    content: "";
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #117333;
}
  
.feature a:hover {
    color: #33868a;
}
  
.feature i {
    margin-left: 5rem;
}
  
.feature p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 1rem;
    font-family: "Source Sans Pro", Gill Sans, Trebuchet MS, Arial, sans-serif;
    color: #4a4a4a;
}


/* Stydy Section */
.study {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 35vh;
}

.programme-finder {
    display: flex;
    background-color: #117333;
    border-radius: 5px;
    padding: 30px;
    margin-right: 40px;
    width: 50%;
}

.programme-index h2 {
    font-size: 1.7em;
    padding-bottom: 5px;
}

.programme-index h3{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.programme-index h2,
.programme-index h3 {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;   
    text-align: left;
    color: #ffffff;
    margin-bottom: 15px;
    width: 50%;
    white-space: nowrap;
}   

.programme-index ul li::before {
    content: "» ";
    vertical-align: 1px;
    color: rgb(255, 230, 102);
}

.programme-index ul {
    margin-top: 35px;
}

.programme-index ul li {
    list-style: none;
    padding-bottom: 5px;
    transition: 0.3s ease;
}

.programme-index ul li a {
    color: #ffe666;
    padding: 5px 0;
    font-size: 1.1em;
    font-weight: light !important;
}

.programme-index ul li:hover {
    text-decoration: underline;
    color: #ffe666;
}
.programme-search {
    padding-top: 30px;
    width: 60%;
    font-size: 1.2em; /* Increase the font size */
}
  
.programme-search form {
    margin-top: 20px;
}
  
.programme-search select,
.programme-search input[type="text"],
.programme-search input[type="submit"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
  
.programme-search input[type="submit"] {
    background-color: #383a3c;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.programme-search input[type="submit"]:hover {
    background-color: #ffffff;
    color: #383a3c;
    cursor: pointer;
    transition: 0.3s ease;
}
  

.prospectus-container {
    background-color: #ececed;
    width: 30%;
    padding: 30px;
}
    
.prospectus-container h2 {
    font-size: 1.8rem;
    color: #383a3c;
    margin-bottom: 10px;
}
  
.prospectus-container p {
    font-size: 1.2rem;
    color: #666666;
    margin-bottom: 20px;
}
  
.prospectus-container a {
    display: inline-block;
    background-color: #383a3c;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}
  
.prospectus-container a:hover {
    background-color: #ffffff;
    color: #383a3c;
    border: 1px solid #000000;
}


/* Styling for the news */
.news-container {
    font-family: "Open Sans",sans-serif;
    width: 100%;
    height: 55vh;
    padding-left: 380px;
    padding-right: 380px;
    background-color: #f8f8f8;
}
  
.news-container .tag-text {
    padding-top: 35px;
    padding-bottom: 10px;
}

.news-container a {
    text-decoration: none;
    color: #000000;
    font-size: 2.2rem;
    font-weight: lighter;
}
  
.news-carousel-container {
    position: relative;
}
  
.news-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    margin-bottom: 10px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
  
.news-carousel::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
  
.news-item {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
}
  
.card {
    position: relative;
    width: 350px;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
  
.card:hover {
    transform: scale(1.05);
}
  
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
  
.card-content {
    padding: 20px;
}
  
.news-container h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    line-height: 1.2;
}
  
.news-container p {
    margin: 10px 0 0;
    color: #777;
    line-height: 1.5;
}
  
.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    z-index: 1;
}
  
.carousel-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;
}
  
.carousel-button:hover {
    background-color: transparent;
}
  
.carousel-button:focus {
    outline: none;
}
  
.carousel-button .icon {
    color: #777;
    font-size: 30px;
}
  
.prev-btn {
    margin-left: 10px;
}

.prev-btn i {
    color: #eeeeee;
    font-size: 50px;
}

.next-btn {
    margin-right: 10px;
}

.next-btn i {
    color: #eeeeee;
    font-size: 50px;
}



/*course verification */
.course-verification {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.course-verification .section-title {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.course-verification .newsletter-description {
    color: #666666;
    font-size: 16px;
    margin-bottom: 30px;
}

.course-verification .newsletter-form input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 16px;
}

.course-verification .newsletter-form button {
    background-color: #383a3c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.course-verification .newsletter-form button:hover {
    background-color: #ffffff;
    border: 1px solid #383a3c;
    color: #383a3c;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup .popup-content {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
} 

/* Change h3 text color to green for valid certificate */
.popup .popup-content.valid h3 {
  color: #117333;
}

/* Change h3 text color to red for invalid certificate */
.popup .popup-content.invalid h3 {
  color: red;
}

.popup .popup-content p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.4em;
}

.popup .popup-content strong {
  color: #117333;
}














/* Upcoming Events */
.upcoming-events {
    font-family: "Open Sans",sans-serif;
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.upcoming-events .section-title {
    color: #333333;
    font-size: 2.2em;
    font-weight: lighter;
    margin-bottom: 30px;
}

.upcoming-events .event-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.upcoming-events .event {
    width: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


.event:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-date {
    background-color: #117333;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
}

.event-date .date {
    font-weight: bold;
}

.event-date .month {
    font-size: 14px;
    text-transform: uppercase;
}

.event-title {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-description {
    color: #666666;
    font-size: 14px;
    margin-bottom: 15px;
}

.event-link {
    color: #117333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.event-link:hover {
    color: #383a3c;
}