/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  

/* Styling for the mini navigation bar */
.mini-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00954d;
    padding-left: 340px;
    padding-right: 340px;
    height: 5vh
}
  
.left-side,
.right-side {
    display: flex;
    margin-top: 0;
    align-items: center;
}
  
.left-side a,
.right-side a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s ease;
}

.left-side i {
    margin-right: 10px;
}

.left-side a:hover,
.right-side a:hover {
    color: #000000;
}

.right-side .apply-button {
    background-color: #BB0306;
    display: flex;
    color: #ffffff;
    font-weight: bold;
    padding: 23px 15px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 5vh;
    transition: color 0.3s;
}

.right-side .apply-button:hover {
    text-decoration: underline;
    color: #000000;
}



/* Styling for the navigation bar */
.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 340px;
    padding-right: 340px;
}

.navbar-logo img {
    width: 270px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li a.active {
    color: #33868a; /* be sure to add class="active" in the html code for this guy to work */
}

.navbar-menu li a i.fa-chevron-right {
    position: absolute;
    right: 10px;
    color: #00954d;
    transition: color 0.3s;
}

.navbar-menu li:hover a i.fa-chevron-right {
    color: #33868a;
}

.navbar-menu li:hover a i.fa-chevron-right:hover {
    color: #33868a;
}

.navbar-menu li {
    position: relative;
    list-style: none;
}

.navbar-menu li a {
    color: #00954d;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.navbar-menu li a:hover {
    color: #33868a;
}

.dropdown-menu {
    display: none;
    position: absolute;
    font-weight: 100;
    font-size: 16px;
    top: 100%;
    left: 0;
    border-radius: 4px;
    background-color: #eeeeee;
    min-width: 200px;
    z-index: 1;
}

.dropdown-menu li a {
    font-weight: 600;
}

.sidebar-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #eeeeee;
    min-width: 200px;
    z-index: 1;
}

.sidebar-menu li a {
    font-weight: 400;
}

.dropdown-menu li:hover > .sidebar-menu {
    display: block;
}

.dropdown-menu li:hover > a,
.dropdown-menu li .sidebar-menu li:hover > a {
    color: #33868a;
    background-color: #eeeeee;
}

.navbar-menu li:hover > .dropdown-menu {
    display: block;
}

.navbar-menu ul li {
    position: relative;
}

.navbar-menu ul li ul {
    top: 0;
    left: 100%;
}

.navbar-menu ul li ul li ul {
    top: 0;
    left: -100%;
}

.navbar-menu ul li ul li ul li ul {
    top: 0;
    left: 100%;
}

.sidebar-menu li a:hover i.fa-chevron-right {
    color: #33868a;
}

.sidebar-menu li a:hover {
    background-color: #eeeeee;
}

/* Dynamic width based on content length */
.dropdown-menu li {
    white-space: nowrap;
}

.dropdown-menu li a {
    min-width: auto;
    padding: 10px 35px;
}

.sidebar-menu li a {
    min-width: auto;
    padding: 10px 15px;
}



/* Styling for the banner */
.banner {
    position: relative;
    width: 100%;
    height: 70vh;
  }

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.banner img.active {
    opacity: 1;
}


/* Styling for the features */
.feature-container {
    display: flex;
    background-color: #f8f8f8;
    padding: 50px 70px 50px 70px;
    justify-content: center;
    align-items: flex-start;
}
  
.feature {
    color: #4a4a4a;
    font-weight: 400;
    margin: 2.5rem;
    max-width: 15rem;
    flex: 1;
    position: relative;
}
  
.feature a {
    color: #117333;
    text-decoration: none;
    font-family: "Noto Serif", Georgia, Times New Roman, serif;
    font-weight: 700;
    font-size: 1.5rem;
    display: inline-flex;
    align-items: center;
    transition: color 0.15s ease;
    position: relative;
}
  
.feature a::before {
    content: "";
    position: absolute;
    top: calc(50% - 25px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #117333;
}
  
.feature a:hover {
    color: #33868a;
}
  
.feature i {
    margin-left: 5rem;
}
  
.feature p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 1rem;
    font-family: "Source Sans Pro", Gill Sans, Trebuchet MS, Arial, sans-serif;
    color: #4a4a4a;
}


/* Stydy Section */
.study {
    font-family: "Open Sans",sans-serif;
    width: 100%;
    height: 45vh;
    padding-left: 380px;
    padding-right: 380px;
    background-color: #ffffff;
}

.study .tag-text {
    padding-top: 35px;
    padding-bottom: 10px;
}

.study a {
    text-decoration: none;
    color: #000000;
    font-size: 2.2rem;
    font-weight: lighter;
}

.study-section {
    display: flex;
    height: 30vh;
}

.programme-finder {
    display: flex;
    background-color: #117333;
    padding: 30px;
    margin-right: 40px;
    width: 100%;
}

.programme-index h2 {
    font-size: 1.7em;
    padding-bottom: 5px;
}

.programme-index h3{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.programme-index h2,
.programme-index h3 {
    font-family: "Open Sans",sans-serif;
    font-weight: 400;   
    text-align: left;
    color: #ffffff;
    margin-bottom: 15px;
    width: 50%;
    white-space: nowrap;
}   

.programme-index ul li::before {
    content: "» ";
    vertical-align: 1px;
    color: rgb(255, 230, 102);
}

.programme-index ul {
    margin-top: 35px;
}

.programme-index ul li {
    list-style: none;
    padding-bottom: 5px;
    transition: 0.3s ease;
}

.programme-index ul li a {
    color: #ffe666;
    padding: 5px 0;
    font-size: 1.1em;
    font-weight: light !important;
}

.programme-index ul li:hover {
    text-decoration: underline;
    color: #ffe666;
}
.programme-search {
    padding-top: 30px;
    width: 60%;
    font-size: 1.2em; /* Increase the font size */
}
  
.programme-search form {
    margin-top: 20px;
}
  
.programme-search select,
.programme-search input[type="text"],
.programme-search input[type="submit"] {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
}
  
.programme-search input[type="submit"] {
    background-color: #383a3c;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.programme-search input[type="submit"]:hover {
    background-color: #ffffff;
    color: #383a3c;
    cursor: pointer;
    transition: 0.3s ease;
}
  

.prospectus-container {
    background-color: #ececed;
    width: 30%;
    padding: 30px;
}
    
.prospectus-container h2 {
    font-size: 1.8rem;
    color: #383a3c;
    margin-bottom: 10px;
}
  
.prospectus-container p {
    font-size: 1.2rem;
    color: #666666;
    margin-bottom: 20px;
}
  
.prospectus-container a {
    display: inline-block;
    background-color: #383a3c;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}
  
.prospectus-container a:hover {
    background-color: #ffffff;
    color: #383a3c;
    border: 1px solid #000000;
}


/* Styling for the news */
.news-container {
    font-family: "Open Sans",sans-serif;
    width: 100%;
    height: 55vh;
    padding-left: 380px;
    padding-right: 380px;
    background-color: #f8f8f8;
}
  
.news-container .tag-text {
    padding-top: 35px;
    padding-bottom: 10px;
}

.news-container a {
    text-decoration: none;
    color: #000000;
    font-size: 2.2rem;
    font-weight: lighter;
}
  
.news-carousel-container {
    position: relative;
}
  
.news-carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    margin-bottom: 10px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}
  
.news-carousel::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}
  
.news-item {
    flex: 0 0 auto;
    margin-right: 10px;
    scroll-snap-align: start;
}
  
.card {
    position: relative;
    width: 350px;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
  
.card:hover {
    transform: scale(1.05);
}
  
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
  
.card-content {
    padding: 20px;
}
  
.news-container h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    line-height: 1.2;
}
  
.news-container p {
    margin: 10px 0 0;
    color: #777;
    line-height: 1.5;
}
  
.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    z-index: 1;
}
  
.carousel-button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 0;
    transition: background-color 0.3s ease;
}
  
.carousel-button:hover {
    background-color: transparent;
}
  
.carousel-button:focus {
    outline: none;
}
  
.carousel-button .icon {
    color: #777;
    font-size: 30px;
}
  
.prev-btn {
    margin-left: 10px;
}

.prev-btn i {
    color: #eeeeee;
    font-size: 50px;
}

.next-btn {
    margin-right: 10px;
}

.next-btn i {
    color: #eeeeee;
    font-size: 50px;
}



/*course verification */
.course-verification {
    background-color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.course-verification .section-title {
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.course-verification .newsletter-description {
    color: #666666;
    font-size: 16px;
    margin-bottom: 30px;
}

.course-verification .newsletter-form input[type="text"] {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #cccccc;
    font-size: 16px;
}

.course-verification .newsletter-form button {
    background-color: #383a3c;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.course-verification .newsletter-form button:hover {
    background-color: #ffffff;
    border: 1px solid #383a3c;
    color: #383a3c;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup .popup-content {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
} 

/* Change h3 text color to green for valid certificate */
.popup .popup-content.valid h3 {
  color: #117333;
}

/* Change h3 text color to red for invalid certificate */
.popup .popup-content.invalid h3 {
  color: red;
}

.popup .popup-content p {
  font-size: 1.2em;
  color: #333;
  line-height: 1.4em;
}

.popup .popup-content strong {
  color: #117333;
}














/* Upcoming Events */
.upcoming-events {
    font-family: "Open Sans",sans-serif;
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
}

.upcoming-events .section-title {
    color: #333333;
    font-size: 2.2em;
    font-weight: lighter;
    margin-bottom: 30px;
}

.upcoming-events .event-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
}

.upcoming-events .event {
    width: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}


.event:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.event-date {
    background-color: #117333;
    color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    line-height: 60px;
    font-size: 24px;
    cursor: pointer;
}

.event-date .date {
    font-weight: bold;
}

.event-date .month {
    font-size: 14px;
    text-transform: uppercase;
}

.event-title {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.event-description {
    color: #666666;
    font-size: 14px;
    margin-bottom: 15px;
}

.event-link {
    color: #117333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.event-link:hover {
    color: #383a3c;
}



/* Footer */
#footer {
    width: 100%;
    font-family: "Open Sans",sans-serif;
    height: 30vh;
    background-color: #00954d;
    overflow: hidden;
}

#footer .content {
    background-color: #e0e0e0;
    position: relative;
    border-radius: 0 0 150px 0;
    height: 26vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#footer .content .blue-back {
    background-color: #117333;
    height: 15vh;
    width: 60%;
    border-radius: 0 0 200px 0;
    margin-top: -35px;
}

#footer .content .info {
    background: rgb(17, 115, 51);
    background: linear-gradient(90deg, rgba(17, 115, 51, 1) 0%, rgba(33, 191, 98, 1) 100%);
    position: absolute;
    height: 25vh;
    width: 50%;
    border-radius: 0 0 300px 0;
    margin-top: -50px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
    padding: 50px;
}

#footer .content .info img {
    margin-top: 40px;
    margin-left: 370px;
}

#footer .content .info .address {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 175px;
    margin-top: -130px;
    margin-left: 20px;
}

#footer .content .info .address span {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

#footer .content .info .address span p {
    margin-top: 5px;
    margin-left: 15px;
    color: #f1f1f1;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

#footer .content .info .address span p:hover {
    color: black;
}

#footer .content .info .address i {
    color: #f1f1f1;
    padding-top: 11px;
    cursor: pointer;
}

#footer .content .university {
    height: 250px;
    width: 350px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .university h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .university a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .university a:hover {
    color: #00954d
}

#footer .content .links {
    height: 250px;
    width: 200px;
    margin-left: -50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .links h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .links a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .links a:hover {
    color: #00954d
}

#footer .content .top-button {
    background-color: #00954d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 1%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

#footer .content .top-button i {
    color: #e0e0e0;
}

#footer .copyright {
    position: relative;
    display: flex;
    height: 4vh;
    width: 100%;
    align-items: center;
    bottom: 0;
}

#footer .copyright .twitter-circle{
    margin-left: 100px !important;
}

#footer .copyright .twitter-circle,
#footer .copyright .facebook-circle,
#footer .copyright .linkedin-circle,
#footer .copyright .instagram-circle {
    margin: 0 10px; /* Adjust the spacing between circles */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 999;
    text-decoration: none;
}

#footer i {
    color: #00954d; /* Adjust the icon color */
    font-size: 1em; /* Adjust the icon size */
}

#footer .copyright p {
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    margin-left: 20px;
}

#footer .copyright .right-links {
    margin-left: 25%;
}

#footer .copyright .right-links a {
    margin-left: 40px;
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}