/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}


/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Styling for the deans section */
#dean {
    width: 100%;
    background-image: url("./Images/Banners/cce_banner.png");
    height: 84vh;
    display: flex;
    padding: 30px;
    padding-right: 250px;
    padding-left: 250px;
    justify-content: center;
    align-items: center;
}

#dean .dean-profile {
    width: 520px;
    height: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid #f1f1f1;
}

#dean .dean-profile .dean-photo {
    width: 100%;
    height: 70%;
    background-color: #ffffff;
    overflow: hidden;
}

#dean .dean-profile .dean-photo img {
    width: 100%;
    height: 550px;
}

#dean .dean-profile .dean-contact {
    width: 100%;
    height: 30%;
    background-color: #000000;
}

#dean .dean-profile .name {
    background-color: #ffffff;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dean .dean-profile .name h2 {
    color: #2d3e50;
    font-size: 1.3em;
    font-weight: 600;
}

#dean .dean-profile .name h3 {
    font-size: 0.95em;
    font-weight: 600;
}

#dean .dean-profile .name h4 {
    font-size: 0.95em;
    font-weight: 600;
}

#dean .dean-profile .contact {
    background: linear-gradient(45deg, rgba(255, 124, 4,1) 0%, rgba(255, 124, 124,0.9) 100%);
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dean .dean-profile .contact .phone,
#dean .dean-profile .contact .mail,
#dean .dean-profile .contact .website {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

#dean .dean-profile .contact .phone:hover,
#dean .dean-profile .contact .mail:hover,
#dean .dean-profile .contact .website:hover {
    color: black;
}

#dean .dean-profile .contact .phone p,
#dean .dean-profile .contact .mail p,
#dean .dean-profile .contact .website p {
    margin-left: 20px;
}

#dean .dean-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 100%;
    margin-left: 150px;
}

#dean .dean-message h2 {
    color: #000000;
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 15px;
}

#dean .dean-message p {
    color: #000000;
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 20px;
}


/*Overview */
#intro {
    background-color: #f8f8f8;
    height: 53vh;
    width: 100%;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro h2 {
    color: #000000;
    font-size: 2.7rem;
    font-weight: 300;
    margin-left: 45%;
}

#intro p {
    font-size: 1.15rem;
    font-weight: 400;
    text-align: justify;
}


/* Aim */
.overview {
    background-color: #ffffff;
    position: relative;
    height: 55vh;
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview .content {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.overview .content .vision,
.overview .content .mission,
.overview .content .objectives {
    background-color: #ffffff;
    width: 400px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px rgba(0, 0, 0, 0.2);
    border: #ccc 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    cursor: pointer;
}

.overview .content .vision h2,
.overview .content .mission h2,
.overview .content .objectives h2 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 2.2em;
}

.overview .content .vision img,
.overview .content .mission img,
.overview .content .objectives img {
    margin-bottom: 10px;
    width: 70px;
    height: 70px;
    transition: 0.3s ease;
}

.overview .content .vision img:hover,
.overview .content .mission img:hover,
.overview .content .objectives img:hover {
    transform: scale(1.3);
}

/* Optional: Adjust spacing between the boxes */
.overview .content .vision {
    margin-right: 50px;
}

.overview .content .mission {
    margin-left: 50px;
}

.overview .content .objectives {
    width: 500px;
    height: 400px;
}

.overview .content .objectives ol {
    text-align: left;
}

.overview .content .objectives ol li {
    margin-bottom: 5px;
    list-style-type: lower-roman;
}


/* Team */
.team {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
}

.team .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.team h2 {
    text-decoration: none;
    color: #000000;
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 10px;
}

.team .staff-cards {
    display: flex;
}

.team .staff-card {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 220px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, color 0.3s; /* Add transition effect */
}

.team .staff-card img {
    max-width: 100%;
}

.team .staff-name {
    font-weight: bold;
    transition: 0.2s ease;
}

.team .staff-occupation {
    color: #888;
}

/* Add hover effects */
.team .staff-card:hover {
    box-shadow: 0 4px 16px rgba(25, 107, 100, 0.4); /* Apply the glow effect */
}

.team .staff-card:hover .staff-name {
    color: #39F7E7; /* Change font color on hover */
}



/* Courses */
#courses {
    background-color: #f8f8f8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#courses .tag-text h2{
    text-decoration: none;
    color: #000000;
    font-size: 2.2rem;
    font-weight: lighter;
    margin-bottom: 10px;
}

#courses .boxes {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 40px;
    margin-bottom: 50px;
}
  
#courses .box {
    width: 300px;
    height: 200px;
    background: linear-gradient(45deg, rgba(48, 213, 200,1) 0%, rgba(25, 107, 100,0.9) 100%);
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6em;
    font-family: bolder;
    color: #000000;
}

#courses .box {
    display: flex;
    flex-direction: column;
}

#courses .box img {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
  
#courses table {
    width: 100%;
    border-collapse: collapse;
    color:#000000
}
  
#courses th, td {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    transition: 0.3s ease;
}

#courses td {
    font-weight: normal;
}
  
#courses th {
    background-color: #f2f2f2;
    text-align: left;
    font-weight: bold;
}

/* Apply the color to the course names in the table */
#courses td:first-child {
    color: #30d5c8;
}
  
#courses tbody {
    display: none;
}

#courses thead {
    display: none; /* Hide the table headings by default */
  }

#courses.show-table thead {
    display: table-header-group; /* Display table headings when the table is visible */
}

#courses tbody tr:hover td {
    color: #30d5c8;
    text-shadow: 1px 1px #f8f8f8;
    cursor: pointer;
}