/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  

/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Styling for the logo section */
.logo-section {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.logo-description {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin: 0 auto;
    max-width: 9000px; /* Adjust the max-width to your desired width */
    width: 90%; /* Added for responsiveness */
    margin-top: 5   px; /* Added for spacing */
}

.logo-description p {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.logo-description img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}