/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  

/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Styling for the logo section */
.logo-section {
    padding: 20px 100px;
    text-align: center;
}

.logo-section img {
    width: 500px;
}

.logo-description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo-item {
    margin-top: 4em;
    text-align: center;
    width: 31%; /* Adjust the width as needed */
}

.logo-item img {
    width: 200px;
    margin-bottom: 10px;
}

.logo-item p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 15px;
}
