/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}


/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* styles.css */
.committee-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.member-photo {
    max-width: 100%;
}

.member-name {
    font-weight: bold;
}

.member-university-position {
    color: #555;
}

.member-committee-position {
    margin-top: 10px;
}