.mini-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00954d;
    padding-left: 340px;
    padding-right: 340px;
    height: 5vh
}
  
.left-side,
.right-side {
    display: flex;
    margin-top: 0;
    align-items: center;
}
  
.left-side a,
.right-side a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s ease;
}

.left-side i {
    margin-right: 10px;
}

.left-side a:hover,
.right-side a:hover {
    color: #000000;
}

.right-side .apply-button {
    background-color: #BB0306;
    display: flex;
    color: #ffffff;
    font-weight: bold;
    padding: 23px 15px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 5vh;
    transition: color 0.3s;
}

.right-side .apply-button:hover {
    text-decoration: underline;
    color: #000000;
}