@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500;600;700&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  



/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Styling for the philosophy section */
#philosophy-content {
    padding: 30px 60px; /* Increased padding for better spacing */
    margin: 30px;
    text-align: justify;
    border-radius: 10px;
}

.quran-verse {
    margin: 30px 0; /* Increased margin for better spacing */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.verse {
    font-family: 'Noto Naskh Arabic', serif;
    font-size: 34px; /* Larger font size for verses */
}

.ayah {
    display: flex;
    align-items: center;
    margin-bottom: 35px; /* Increased margin for better spacing */
}

.ayah img {
    width: 50px; /* Larger image size for ayah icons */
    height: 50px;
    margin-right: 20px; /* Increased margin for better spacing */
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00954d;
    border-radius: 50%;
    color: #fff;
}

.ayah .verse-number {
    font-size: 32px; /* Larger font size for verse numbers */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00954d;
    border-radius: 50%;
    color: #fff;
}

.verse {
    font-size: 38px; /* Even larger font size for verses */
    line-height: 2; /* Adjusted line height for better readability */
}

#philosophy-content h2 {
    font-size: 34px; /* Larger font size for section heading */
    color: #00954d;
    margin-top: 30px; /* Increased margin for better spacing */
}

#philosophy-content h3 {
    font-size: 30px; /* Larger font size for subsection heading */
    color: #333;
    margin-top: 20px; /* Increased margin for better spacing */
}

#philosophy-content a {
    font-size: 24px; /* Larger font size for links */
    color: #00954d;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

#philosophy-content a:hover {
    color: #00773c;
}

/* Improved styling for paragraphs in the philosophy section */
#philosophy-content p {
    font-size: 26px; /* Even larger font size for paragraphs */
    line-height: 2; /* Adjusted line height for better readability */
    margin-bottom: 30px; /* Increased margin for better spacing */
    color: #333;
}

#philosophy-content p:first-of-type {
    font-weight: 600;
}

#philosophy-content p:first-child {
    margin-top: 0;
}

#philosophy-content p:last-child {
    margin-bottom: 0;
}