/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}


/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



.book-card-grid {
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 20px;
}

.book-card {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.51);
    -webkit-box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 14px -1px rgba(0,0,0,0.51);
    transition: transform 0.2s;
    margin-bottom: 20px;
    width: 260px;
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 100%; /* Maintain proper aspect ratio */
    height: auto; /* Maintain proper aspect ratio */
    border-radius: 20px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.book-card h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 5px 0;
    color: #03b9b0;
}

.book-card p {
    font-size: 1.2em;
    margin: 0;
    color: #03b9b0;
}