/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  


/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Styling for sections */
.objectives,
.responsibilities {
    margin: 30px auto; /* Center the sections horizontally */
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 80rem; /* Adjust the max width as needed */
}

.objectives h2,
.responsibilities h2 {
    color: #00954d;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center; /* Center the heading text */
}

.objectives ul,
.responsibilities ol {
    list-style-type: none; /* Remove default list-style-type */
    margin-left: 0;
    font-size: 18px;
    color: #333;
    padding-left: 0; /* Remove default padding */
}

.objectives ul li,
.responsibilities ol li {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
}

/* Styling for icons */
.objectives ul li i,
.responsibilities ol li i {
    font-size: 24px;
    margin-right: 10px;
    color: #00954d;
}