/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  

/* Banner */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



#scholarship-content {
    display: flex;
    padding: 20px;
}


/* Style the filter section */
.filter-section {
    width: 15%;
    margin-right: 70px;
    padding-bottom: 25px;
    padding-top: 25px;
    background-color: #acacac41;
    border-radius: 10px;
}

.filter-for-category, .filter-for-type, .filter-for-eligibility {
    margin-bottom: 20px;
}

/* Style the labels vertically */
.filter-section label {
    display: inline-block;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 30%, rgba(245, 245, 245, 0));
    color: #ffffff;
    font-weight: 600;
    padding: 5px 20px;
    margin-bottom: 6px;
    width: 220px;
    text-shadow: 2px 2px 4px #000000;
}

.filter-for-category h2,
.filter-for-type h2,
.filter-for-eligibility h2 {
    width: 220px;
    font-size: 18px;
    padding: 5px 20px;
    margin-bottom: 10px;
    color: #ffffff;
    background: linear-gradient(to right, #117333 30%, #f5f5f500);
}

.filter-checkbox, input[type="radio"] {
    margin-right: 5px;
}

#table {
    width: 100%;
    align-items: center;
    justify-content: center;
}

/* Style for the Document table column on the right */
table {
    width: 100%;
    padding: 20px;
    border-collapse: collapse;
}

table a {
    text-decoration: none;
    color: #000000;
}

table th {
    background-color: #acacac41 !important;
    color: #00954d;
    font-weight: 700;
    font-size: 1.2em;
}

table th,
table td {
    text-align: left;
    padding: 10px;
}

table tr:nth-child(even) {
    background-color: #acacac41; /* Set the background color to grey */
  }

table th {
    background-color: #f0f0f0;
    font-weight: bold;
}

table th:nth-child(1), 
table td:nth-child(1) {
    width: 40%; /* Adjust the percentage as needed */
}

table th:nth-child(2), 
table td:nth-child(2),
table th:nth-child(3), 
table td:nth-child(3){
    width: 15%; /* Adjust the percentage as needed */
}

table tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

table tr:nth-child(1):hover {
    background-color: #acacac00 !important;
    cursor: default;
}

table tr:nth-child(1) {
    border-bottom: 1px solid #00000021;
    background-color: #acacac5d;
}

