/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}



/* Banner */
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Style the staff name */
#staffName {
  display: none;
}

/* Style the personal information section */
.personal-info {
  background-image: url("./Images/Banners/Site\ Pattern\ PNG\ FINAL.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.personal-info .details-column {
    background-color: transparent;
    height: 30rem;
    padding: 30px;
    width: 70%;
}

.personal-info .details-column .title {
    font-size: 7em;
    line-height: 100px;
    color: #00954d;
    text-shadow: 5px 5px #000000;
}

.personal-info .details-column h2 {
    display: flex;
    text-transform: uppercase;
    font-size: 9em;
    color: #00954d;
    line-height: 150px;
    text-align: right;
    text-shadow: 5px 5px #000000;
}

.personal-info .details-column .position-faculty-info {
    margin-top: 50px;
    display: flex;
}

.personal-info .details-column img {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.personal-info .details-column .position-faculty-info p:nth-child(1) {
    color: #00954d;
    font-weight: 600;
    font-size: 3.8em;
}

.personal-info .details-column .position-faculty-info p:nth-child(2) {
    color: #000;
    font-size: 2.8em;
}

.personal-info .details-column .academic-contact-cell {
    margin-top: 10px;
    background-color: #606060;
    display: flex;
    border-radius: 7px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 1.2em;
    justify-content: center;
    color: white;
}

.personal-info .details-column .academic-contact-cell i {
    margin-right: 7px;
}

.personal-info .details-column .academic-contact-cell p:nth-child(1),
.personal-info .details-column .academic-contact-cell p:nth-child(2) {
    margin-right: 15rem;
}

.personal-info .academic-qualifications-link,
.personal-info .contact-link,
.personal-info .email-link {
    cursor: pointer;
}


/* Style for the modal overlay */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

/* Style for the modal content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 60%;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    z-index: 2;
    position: relative;
}

.modal-content ul {
    margin-top: 5px;
}

.modal-content ul li {
    list-style: none;
}

/* Style for the close button in the modal */
.close-modal-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal-button:hover,
.close-modal-button:focus {
    color: #000;
    text-decoration: none;
}

.profile {
    padding: 0px 70px 10px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 70px;
}

.profile .expert-profile h3,
.profile .area-of-specialization h3,
.profile .research-and-publications h3,
.profile .awards-and-recognition h3 {
    background-color: #00954d;
    border-radius: 10px;
    text-align: center;
    font-size: 2.1em;
    font-weight: 800;
    color: #ffffff;
} 


.profile .expert-profile,
.profile .area-of-specialization,
.profile .research-and-publications,
.profile .awards-and-recognition {
    text-align: center;
    border: none;
}

.profile .expert-profile p,
.profile .area-of-specialization p,
.profile .research-and-publications p,
.profile .awards-and-recognition p {
    text-align: justify;
    font-size: 1.3em;
}

.profile .research-and-publications ul {
    list-style: number;
    text-align: left;
    margin-left: 20px;
    font-size: 1.3em;
}

.profile .research-and-publications ul li {
    margin-top: 15px;
}


.profile button {
    margin-top: 10px;
    height: 40px;
    width: 200px;
    border: 1px solid #606060;
    background-color: #606060;
    color: #ffffff;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: 800;
    cursor: pointer;
}



/* Styling for Expert Profile */
.expert-profile {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* Styling for Area of Specialization */
.area-of-specialization {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* Styling for Research and Publications */
.research-and-publications {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* Styling for Awards and Recognition */
.awards-and-recognition {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}




























/* Footer */
#footer {
    width: 100%;
    font-family: "Open Sans",sans-serif;
    height: 30vh;
    background-color: #00954d;
    overflow: hidden;
}

#footer .content {
    background-color: #e0e0e0;
    position: relative;
    border-radius: 0 0 150px 0;
    height: 26vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#footer .content .blue-back {
    background-color: #117333;
    height: 15vh;
    width: 60%;
    border-radius: 0 0 200px 0;
    margin-top: -35px;
}

#footer .content .info {
    background: rgb(17, 115, 51);
    background: linear-gradient(90deg, rgba(17, 115, 51, 1) 0%, rgba(33, 191, 98, 1) 100%);
    position: absolute;
    height: 25vh;
    width: 50%;
    border-radius: 0 0 300px 0;
    margin-top: -50px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
    padding: 50px;
}

#footer .content .info img {
    margin-top: 40px;
    margin-left: 370px;
}

#footer .content .info .address {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 175px;
    margin-top: -130px;
    margin-left: 20px;
}

#footer .content .info .address span {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

#footer .content .info .address span p {
    margin-top: 5px;
    margin-left: 15px;
    color: #f1f1f1;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

#footer .content .info .address span p:hover {
    color: black;
}

#footer .content .info .address i {
    color: #f1f1f1;
    padding-top: 11px;
    cursor: pointer;
}

#footer .content .university {
    height: 250px;
    width: 350px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .university h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .university a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .university a:hover {
    color: #00954d
}

#footer .content .links {
    height: 250px;
    width: 200px;
    margin-left: -50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .links h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .links a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .links a:hover {
    color: #00954d
}

#footer .content .top-button {
    background-color: #00954d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 1%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

#footer .content .top-button i {
    color: #e0e0e0;
}

#footer .copyright {
    position: relative;
    display: flex;
    height: 4vh;
    width: 100%;
    align-items: center;
    bottom: 0;
}

#footer .copyright .twitter-circle{
    margin-left: 100px !important;
}

#footer .copyright .twitter-circle,
#footer .copyright .facebook-circle,
#footer .copyright .linkedin-circle,
#footer .copyright .instagram-circle {
    margin: 0 10px; /* Adjust the spacing between circles */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 999;
    text-decoration: none;
}

#footer i {
    color: #00954d; /* Adjust the icon color */
    font-size: 1em; /* Adjust the icon size */
}

#footer .copyright p {
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    margin-left: 20px;
}

#footer .copyright .right-links {
    margin-left: 25%;
}

#footer .copyright .right-links a {
    margin-left: 40px;
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}