/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}



/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Faculty Card Styles */
.faculty-card {
    border: 1px solid #e1edf0;
    text-align: center;
    width: 90%;
    margin: 20px 170px;
    padding: 20px 70px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #e1edf0;
    color: #03b9b0;
    border-radius: 5px;
    font-weight: 700;
}

.faculty-card.expanded {
    background-color: #e1edf0;
}

.faculty-card:not(.expanded) .staff-card {
    display: none;
}

.faculty-card.expanded .staff-container {
    margin-top: 30px;
}

.title-container {
    font-size: 1.3rem;
    font-weight: 700;
}

.staff-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-items: center;
}

.staff-card {
    background-color: #f2f2f2;
    padding: 25px;
    border: 2px solid #03b9b0;
    color: #03b9b0;
    border-radius: 20px;
    width: 370px;
    text-align: center;
}

.staff-card img {
    border: 1.5px solid #03b9b0;
    height: 7em;
    width: 7em;
    border-radius: 50%;
    object-fit: cover;
}

.staff-name {
    font-weight: 700 !important;
    font-size: 1.2rem !important;
}

.staff-name,
.staff-occupation,
.staff-contact,
.staff-email {
    margin-top: 5px;
    font-size: 1.0rem;
    font-weight: 500;
    color: #03b9b0 !important;
}

.contact-container {
    font-size: 1.1rem;
    font-weight: 500 !important;
    color: #03b9b0 !important;
}

.staff-container {
    display: flex;
    text-align: center;
    justify-content: center;
}