/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}



/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Student Representatives Styles */
#student-representatives {
    margin: 20px;
    text-align: center;
    padding: 20px 70px 20px 70px;
}

#student-representatives h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

#representatives-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#representatives-list li {
    width: 32%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

#representatives-list li:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background-color: #faf9d046;
}

#representatives-list img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 50%;
}

/* Event Cards Styles */
#events {
    margin: 20px;
    text-align: center;
    padding: 20px 70px 20px 70px;
}

#events h2 {
    margin-bottom: 30px;
}

.event-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#events-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-card {
    width: 32%;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.event-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.event-card h3 {
    font-size: 24px;
    margin: 0;
    color: #007bff;
}

.event-card p {
    font-size: 16px;
    color: #333;
}

.event-card a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.event-card a:hover {
    text-decoration: underline;
}