/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  


/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}



.year-card-container {
    width: 87%; /* Increase the width for more space */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year-card {
    width: 100%;
    margin: 20px 0; /* Increase margin for more space */
    background-color: #f0f0f0;
    padding: 20px; /* Increase padding for more space */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Smoother transition */
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.year-card:hover {
    transform: scale(1.05);
}

/* Initially hide the year card content */
.year-card h2 {
    display: block;
}

/* Display the year card content when it's expanded */
.year-card.expanded h2 {
    display: block;
}

.student-card-container {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Increase margin-top for more space */
    margin-bottom: 20px; /* Increase margin-bottom for more space */
}

.year-card.expanded .student-card-container {
    display: block;
}

.student-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Increase gap for more space */
    justify-content: center;
}

.student-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /* Smoother transition */
    margin-bottom: 20px; /* Increase margin-bottom for more space */
}

.student-card:hover {
    transform: scale(1.05);
}

.student-card img {
    width: 100%; /* Maintain proper aspect ratio */
    height: auto; /* Maintain proper aspect ratio */
    border-radius: 20px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.student-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.student-card p {
    
    font-size: 1.2em;
    margin: 0;
}