/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans",sans-serif;
}
  

/* Styling for the mini navigation bar */
.mini-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00954d;
    padding-left: 340px;
    padding-right: 340px;
    height: 5vh
}
  
.left-side,
.right-side {
    display: flex;
    margin-top: 0;
    align-items: center;
}
  
.left-side a,
.right-side a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.3s ease;
}

.left-side i {
    margin-right: 10px;
}

.left-side a:hover,
.right-side a:hover {
    color: #000000;
}

.right-side .apply-button {
    background-color: #BB0306;
    display: flex;
    color: #ffffff;
    font-weight: bold;
    padding: 23px 15px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    height: 5vh;
    transition: color 0.3s;
}

.right-side .apply-button:hover {
    text-decoration: underline;
    color: #000000;
}



/* Styling for the navigation bar */
.navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 340px;
    padding-right: 340px;
}

.navbar-logo img {
    width: 270px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-menu li a.active {
    color: #33868a; /* be sure to add class="active" in the html code for this guy to work */
}

.navbar-menu li a i.fa-chevron-right {
    position: absolute;
    right: 10px;
    color: #00954d;
    transition: color 0.3s;
}

.navbar-menu li:hover a i.fa-chevron-right {
    color: #33868a;
}

.navbar-menu li:hover a i.fa-chevron-right:hover {
    color: #33868a;
}

.navbar-menu li {
    position: relative;
    list-style: none;
}

.navbar-menu li a {
    color: #00954d;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: background-color 0.3s;
}

.navbar-menu li a:hover {
    color: #33868a;
}

.dropdown-menu {
    display: none;
    position: absolute;
    font-weight: 100;
    font-size: 16px;
    top: 100%;
    left: 0;
    border-radius: 4px;
    background-color: #eeeeee;
    min-width: 200px;
    z-index: 1;
}

.dropdown-menu li a {
    font-weight: 600;
}

.sidebar-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #eeeeee;
    min-width: 200px;
    z-index: 1;
}

.sidebar-menu li a {
    font-weight: 400;
}

.dropdown-menu li:hover > .sidebar-menu {
    display: block;
}

.dropdown-menu li:hover > a,
.dropdown-menu li .sidebar-menu li:hover > a {
    color: #33868a;
    background-color: #eeeeee;
}

.navbar-menu li:hover > .dropdown-menu {
    display: block;
}

.navbar-menu ul li {
    position: relative;
}

.navbar-menu ul li ul {
    top: 0;
    left: 100%;
}

.navbar-menu ul li ul li ul {
    top: 0;
    left: -100%;
}

.navbar-menu ul li ul li ul li ul {
    top: 0;
    left: 100%;
}

.sidebar-menu li a:hover i.fa-chevron-right {
    color: #33868a;
}

.sidebar-menu li a:hover {
    background-color: #eeeeee;
}

/* Dynamic width based on content length */
.dropdown-menu li {
    white-space: nowrap;
}

.dropdown-menu li a {
    min-width: auto;
    padding: 10px 35px;
}

.sidebar-menu li a {
    min-width: auto;
    padding: 10px 15px;
}



/* Banner */
#banner {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: #00954d;
    height: 15vh;
}

#banner .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

#banner .title h2 {
    color: #ffffff;
    font-size: 2.7rem;
    font-weight: 500;
}



.author-card-container {
    width: 87%; /* Increase the width for more space */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.author-card {
    width: 100%;
    margin: 20px 0; /* Increase margin for more space */
    background-color: #f0f0f0;
    padding: 20px; /* Increase padding for more space */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Smoother transition */
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.author-card:hover {
    transform: scale(1.05);
}

/* Initially hide the author card content */
.author-card h2 {
    display: block;
}

/* Display the author card content when it's expanded */
.author-card.expanded h2 {
    display: block;
}

.book-card-container {
    display: none;
    width: 100%;
    text-align: center;
    margin-top: 20px; /* Increase margin-top for more space */
    margin-bottom: 20px; /* Increase margin-bottom for more space */
}

.author-card.expanded .book-card-container {
    display: block;
}

.book-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px; /* Increase gap for more space */
    justify-content: center;
}

.book-card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out; /* Smoother transition */
    margin-bottom: 20px; /* Increase margin-bottom for more space */
}

.book-card:hover {
    transform: scale(1.05);
}

.book-card img {
    width: 100%; /* Maintain proper aspect ratio */
    height: auto; /* Maintain proper aspect ratio */
    border-radius: 20px;
    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
}

.book-card h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.book-card p {
    font-size: 1.2em;
    margin: 0;
}




/* Footer */
#footer {
    width: 100%;
    font-family: "Open Sans",sans-serif;
    height: 30vh;
    background-color: #00954d;
    overflow: hidden;
}

#footer .content {
    background-color: #e0e0e0;
    position: relative;
    border-radius: 0 0 150px 0;
    height: 26vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

#footer .content .blue-back {
    background-color: #117333;
    height: 15vh;
    width: 60%;
    border-radius: 0 0 200px 0;
    margin-top: -35px;
}

#footer .content .info {
    background: rgb(17, 115, 51);
    background: linear-gradient(90deg, rgba(17, 115, 51, 1) 0%, rgba(33, 191, 98, 1) 100%);
    position: absolute;
    height: 25vh;
    width: 50%;
    border-radius: 0 0 300px 0;
    margin-top: -50px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.8);
    padding: 50px;
}

#footer .content .info img {
    margin-top: 40px;
    margin-left: 370px;
}

#footer .content .info .address {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 175px;
    margin-top: -130px;
    margin-left: 20px;
}

#footer .content .info .address span {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

#footer .content .info .address span p {
    margin-top: 5px;
    margin-left: 15px;
    color: #f1f1f1;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

#footer .content .info .address span p:hover {
    color: black;
}

#footer .content .info .address i {
    color: #f1f1f1;
    padding-top: 11px;
    cursor: pointer;
}

#footer .content .university {
    height: 250px;
    width: 350px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .university h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .university a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .university a:hover {
    color: #00954d
}

#footer .content .links {
    height: 250px;
    width: 200px;
    margin-left: -50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#footer .content .links h3 {
    font-size: 1.3em;
    text-transform: uppercase;
}

#footer .content .links a {
    text-decoration: none;
    color: #898989;
    padding-top: 20px;
    transition: 0.3s ease;
}

#footer .content .links a:hover {
    color: #00954d
}

#footer .content .top-button {
    background-color: #00954d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-right: 1%;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

#footer .content .top-button i {
    color: #e0e0e0;
}

#footer .copyright {
    position: relative;
    display: flex;
    height: 4vh;
    width: 100%;
    align-items: center;
    bottom: 0;
}

#footer .copyright .twitter-circle{
    margin-left: 100px !important;
}

#footer .copyright .twitter-circle,
#footer .copyright .facebook-circle,
#footer .copyright .linkedin-circle,
#footer .copyright .instagram-circle {
    margin: 0 10px; /* Adjust the spacing between circles */
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 999;
    text-decoration: none;
}

#footer i {
    color: #00954d; /* Adjust the icon color */
    font-size: 1em; /* Adjust the icon size */
}

#footer .copyright p {
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    margin-left: 20px;
}

#footer .copyright .right-links {
    margin-left: 25%;
}

#footer .copyright .right-links a {
    margin-left: 40px;
    color: #e0e0e0;
    font-size: 1em;
    font-family: "Open Sans",sans-serif;
    text-decoration: none;
}