{% extends 'base.html' %}

{% block content %}
 
    
</form>
  
    {% if img_obj %}  
    
        <embed src="{{ img_obj.image.url}}" alt="Done" style="max-height:300px">  
    {% endif %} 

</form>

    {% if pdf_obj %}  
        <h3> File Added {{pdf_obj.caption}}</h3>  
        <file src="{{ pdf_obj.pdf.url}}" alt="Done" style="max-height:300px">  
    {% endif %}  

</form>
<form method="post" enctype="multipart/form-data">  
    {% csrf_token %}  
    {{ form.as_p }}  
    <button type="submit">Add Adhaahama</button>  
</form> 


</div>

{% endblock %}