{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
        <h1>Deans Committee</h1>

        {% if deans_committee %}
            
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Change/View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deanscommittee in deans_committee %}
                    <tr>
                    <td>{{ deanscommittee.id }}</td>
                    <td>{{ deanscommittee.name }}</td>
                    <td>{{ deanscommittee.created_at }}</td>
                    <td><a href="{% url 'view_deans_committee' deanscommittee.id %}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% endif %}
        <a href="{% url 'add_deans_committee' %}" class="btn btn-primary">Add Deans Committee</a>

</div>

{% endblock %}
