{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
        <h1>Top Management</h1>

        {% if top_management %}
            
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Change/View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for topmanagement in top_management %}
                    <tr>
                    <td>{{ topmanagement.id }}</td>
                    <td>{{ topmanagement.name }}</td>
                    <td>{{ topmanagement.created_at }}</td>
                    <td><a href="{% url 'view_top_management' topmanagement.id %}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% endif %}
        <a href="{% url 'add_top_management' %}" class="btn btn-primary">Add Top Management</a>

</div>

{% endblock %}
