{% extends 'base.html' %}

{% block content %}

<h1>Dean</h1>

<div class="card">
    <div class="card-header">
      {{ dean.id }} - {{ dean.created_at }} 
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ dean.name }}</h5>
      <p class="card-text">{{ dean.message }}</p>
      <a href="{% url 'update_dean' dean.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_dean' dean.id %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}