{% extends 'base.html' %}

{% block content %}

<h1>Collaborators</h1>

<div class="card">
    <div class="card-header">
      {{ collaborators.id }} - {{ collaborators.created_at }} 
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ adhaahama.name }}</h5>
      <a href="{% url 'update_collaborators_doc' collaborators.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_collaborators_doc' collaborators.id %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}
