{% extends 'base.html' %}

{% block content %}

<h1>Section</h1>

<div class="card">
    <div class="card-header">
      {{ section.id }} - {{ section.created_at }} 
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ section.name }}</h5>
      <p class="card-text">{{ section.overview }}</p>
      <a href="{% url 'update_section' section.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_section' section.id %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}