{% extends 'base.html' %}

{% block content %}

<h1>News</h1>

<div class="card">
    <div class="card-header">
      {{ news.id }} - {{ news.created_at }} 
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ news.title}}</h5>
      <a href="{% url 'update_news_doc' news.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_news_doc' news.id %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}
