{% extends 'base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">
        <h1>Sections</h1>

        {% if sections %}
            
            <table class="table table-striped table-hover">
                <thead class="table-dark">
                    <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Created at</th>
                    <th scope="col">Change/View</th>
                    </tr>
                </thead>
                <tbody>
                    {% for section in sections %}
                    <tr>
                    <td>{{ section.id }}</td>
                    <td>{{ section.name }}</td>
                    <td>{{ section.created_at }}</td>
                    <td><a href="{% url 'view_section' section.id %}">Edit</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% endif %}
        <a href="{% url 'add_section' %}" class="btn btn-primary">Add Section</a>

</div>

{% endblock %}