{% extends 'base.html' %}

{% block content %}

<h1>Staff</h1>

<div class="card">
    <div class="card-header">
      {{ staff.id }} - {{ staff.created_at }} 
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ staff.name }}</h5>
      <p class="card-text">{{ staff.message }}</p>
      <a href="{% url 'update_staff' staff.id %}" class="btn btn-primary">Edit</a>
      <a href="{% url 'delete_staff' staff.id %}" class="btn btn-danger">Delete</a>
    </div>
  </div>
  <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

{% endblock %}